<h2 id="faq">Frequently Asked Questions</h2>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>Do the projects use new ES6 methods?</strong></summary>
	<p>Yes. Where applicable, I cover new ES6 functions and browser APIs.</p>
</details>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>How do I access my projects?</strong></summary>
	<p>Visit <a href="https://courses.gomakethings.com/join"></a> and create an account with the email address you used to make your purchase.</p>
	<p>You can download the projects any time, and stream your videos or read the tutorials from any device. You can also download the videos for offline viewing.</p>
</details>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>Do I need any special tools or equipment?</strong></summary>
	<p>All you need to work with the source code and projects is a modern web browser and a text editor (I recommend <a href="https://code.visualstudio.com/">VS Code</a>).</p>
</details>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>Do I need any prior knowledge or experience to learn vanilla JavaScript?</strong></summary>
	<p>Ideally you're comfortable working with HTML and CSS already. Experience with another library or framework (like jQuery, React, and so on) is helpful but not required. If you're brand new to JavaScript, the projects are a great resource! If you have any specific questions, though, please email me at <a href="mailto:&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;?subject=Vanilla%20JS%20Projects:%20General%20Questions">&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;</a>.</p>
</details>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>Are there any rules or requirements around the Slack workspace?</strong></summary>
	<p>Yes. You must be at least 18 years old, and read and agree to follow the <a href="https://gomakethings.com/slack-guidelines/">Code of Conduct</a>.</p>
</details>

<details class="margin-bottom-large">
	<summary class="margin-bottom-small"><strong>I have another question.</strong></summary>
	<p>No problem! Send me an email at <a href="mailto:&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;?subject=Vanilla%20JS%20Projects:%20General%20Questions">&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;</a>.</p>
</details>