<p>This project is broken up into 3-4 smaller mini-projects that build on each other. Each part includes a few short lessons and a template to get you started. You can...</p>

<ol>
	<li><strong>Do It Yourself (DIY).</strong> You can try to complete the project on your own, then come back and watch me explain my approach.</li>
	<li><strong>Code Along.</strong> If you'd prefer, you can code along with me as I walk through my solution.</li>
</ol>

<p>You can also mix-and-match approaches based on your comfort level with each section.</p>