{{- $projects := .Site.Data.projects -}}

{{- if index $projects (.Get "difficulty") -}}
{{- range (index $projects (.Get "difficulty")) -}}
	<article id="{{ .name | anchorize }}" class='project project-{{ delimit .topics " project-" }}'>
		<strong><a href="{{ .url }}">{{ .name }}</a></strong>
		<p>
			{{ .description | markdownify }}<br>
			{{- $.Scratch.Set "comma" false -}}
			{{- range $topic := .topics -}}
				{{ if ($.Scratch.Get "comma") }}, {{ end }}<em class="text-small">{{ index (index $projects "tags") $topic }}</em>
				{{- $.Scratch.Set "comma" true -}}
			{{- end -}}
		</p>
	</article>
{{- end -}}
{{- end -}}