/**
 * @section Labels
 */

.topic {
	font-size: calc-em(13px);
	color: $color-white;
	background-color: $color-primary;
	font-weight: bold;
	padding: calc-em(4px) calc-em(8px);
	border-radius: calc-em(1px);
}