<h2 id="how-it-works">How it works</h2>

<p>There are two ways you can work on the projects:</p>

<ol class="list-spaced">
	<li><strong>Try to build it on your own.</strong> When you're done, check out my completed project to see how you did. I provide you with a template to get started, and some recommended articles and resources to help you along the way.</li>
	<li><strong>Build it along with me.</strong> I'll walk you through how I would approach this project, step-by-step. I'll code in real-time, and explain what I'm doing and why.</li>
</ol>